body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    background-color: #1877f2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #166fe5;
}

.forgot-password {
    margin-top: 10px;
    display: inline-block;
    color: #1877f2;
    text-decoration: none;
}

.create-account {
    margin-top: 20px;
}

.create-link {
    color: #1877f2;
    text-decoration: none;
}
